includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: 9
    paths:
        - src
    parallel:
        processTimeout: 1800.0
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
